.BookCard {
  margin: 10px;
  width: 400px;
  height: 500px;
  border: 1px solid grey;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  &_Img {
    width: 40%;
    height: 40%;
  }
}
